#nav_sep {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    color: grey;
    
    
}
#LucaDCZ {
    font-size: 16px;
    position: absolute;
    top: 7px;
    left: 70px;
}

.nav {
    display: flex;
    justify-content: center;
    

}
body{
    font-size: 23px;
    width: 1200px;
    height: 400px;
    padding: 0px 70px 240px 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#theme {
    font-size: 74px;
    line-height: 0.9;
}
.position {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#luca{
    line-height: 1.7;
    margin-top: 12.5%;
}

.content {
    color: gray;
    margin-top: 22px;
    
}
.color {
    color: rgb(127, 3, 216);
}
.butt_sep {
    margin-top: 0%;
}
button {
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 10%;
    box-shadow: 0 1px 1px rgb(116, 111, 111) ;
    
}
.butt1 {
    background-color: black;
    color: white;
    box-shadow: none;
}
.logo {
    position: absolute;
    top: 0px;
    right: 60px;
}
.in_cir {
    width: 300px;
    height: 320px;
    border-radius: 50%;
}
.ext_cir {
    position: absolute;
    top: 28%;
    right: 0%;
    width: 340px;
    height: 380;
    border: 2px rgba(72, 70, 70, 0.438) solid;
    border-radius: 50%;
    padding-left: 2.6%;
    padding-top: 2.6%;
    padding-bottom: 2.5%;
    
}